/* 텍스트 위치 */
$aCenter : center; .aCenter { text-align: $aCenter; }
$aLeft : left; .aLeft { text-align: $aLeft; }
$aRight : right; .aRight { text-align: $aRight; }

/* position */
$absolute : absolute;

/* cursor */
$pointer : pointer;

/* display */
$inline_block : inline-block;
$grid : grid;

/* margin */
$empty_margin : 0px 0px 0px 0px;
$margin_10 : 10px;
$margin_20 : 20px;
$margin_30 : 30px;
$margin_40 : 40px;
$margin_50 : 50px;
$margin_60 : 60px;

/* Color */
$gray : #ababab; .gray { color : $gray }
$black : black; .black { color : $black }

/* font style */
@font-face {
  font-family: 'TmoneyRoundWindExtraBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
  
@font-face {
  font-family: 'Recipekorea';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
  
@font-face {
  font-family: 'paybooc-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
  
/* font */
$t_money_font : TmoneyRoundWindExtraBold;
$recipe_korea : Recipekorea;
$paybook_bold : paybooc-Bold;

/* font-size */
$font_16 : 16px;
$font_15 : 15px;
$font_14 : 14px;
$font_13 : 13px;
$font_12 : 12px;

body {
    cursor: default !important;
    min-width : 1000px;

    #notice_div { 
        position: $absolute !important;
        height: auto !important;
        width: 60% !important;
        line-height: 17px !important;
        margin-top: 20px;
        margin-left: -55%;
        background-color: white;
        border: solid 3px #046582;
        border-radius: 5px;
        padding: 15px;
        z-index: 1000;
        font-family: $paybook_bold;
        font-size: 12px;
    }
}

#game_start_home_div { 
    text-align: $aCenter;

    #game_title_div { 
        margin-top: 100px;
        font-family: $paybook_bold;

        h2 {
            margin-bottom: 5px !important;
        }
        p {
            margin: $empty_margin !important;
            color: $gray;
            font-size: $font_13;
        }
    }

    #game_select_div { 
        margin-top: 80px;

        div {
            font-family: $paybook_bold;
            line-height: $margin_40;
            color:#666465;

            b {
                cursor: $pointer;
            }
        }
    }
}

#modal_title_div {
    text-align: $aCenter;
    font-family: $recipe_korea;
    border-bottom: solid 1px #ababab;
    padding-bottom: 15px;

    h4 {
        margin: $empty_margin;

        #modal_close_icon {
            position: $absolute;
            width: 18px;
            margin: 0px 0px 0px 35%;
            cursor: $pointer;
        }
    }
}

#game_setting_div {
    #game_setting_state_div { 
        font-size: $font_12;
        margin-top: $margin_20;
        font-family: $paybook_bold;
        padding: 0px 10px;
        
        div {
            display: $inline_block;
            width: 33%;
            color: #BFBDBE;

            b { 
                cursor: $pointer;
            }

            #select_setting_option {
                border-bottom: solid 2px #78c4d4;
                padding-bottom: 4px;
                color: #78c4d4;
            }
        }
    }
}

#game_setting_contents_div { 
    margin-top: $margin_40;
    min-height: 350px;
    
    #game_setting_contents { 
        padding: 0px 10px 0px 10px;
        display: $grid;
        grid-template-columns: 10% 80% 10%;

        .game_setting_arrow_divs { 
            line-height: 10;

            .game_setting_move_arrows {
                width: 20px;
                margin : 0px;
                cursor: pointer;
            }

        }

        #game_info_setting_div {
            ul {
                font-size: $font_13;
                line-height: 40px;

                li {
                    div {
                        display: $inline_block;
                        // width: 50%;
                    }

                    .game_setting_title_div {
                        width: 55%;
                    }

                }
            }

            select {
                // margin-left: 80px;
                cursor: $pointer;
                padding: 2.5px;
                width: 130px;
            }

            .game_setting_radio_div {
                width: 120% !important;

                div {
                    width: 90px !important;
                    
                    input, label {
                        cursor: pointer;
                    }
                }
            }


            #game_setting_complate_div {
                margin-top: $margin_40;

                div {
                    float: right;

                    input[type=button] {
                        margin-top: $margin_10;
                        font-family: $paybook_bold;
                        background-color: white;
                        border-radius: 5px;
                        font-size: $font_12;
                        padding: 3px 10px;
                        cursor: $pointer;
                        margin-left: 15px;
                    }
                }
            }
        }
    }

    .notice_icon { 
        width: 15px;
        position: $absolute;
        margin: 13px 0px 0px 10px;
    }

    #game_setting_player_div {
        #game_playing_player_number, #game_select_player_character_title {
            font-size: $font_12;
            font-family: $paybook_bold;
        }

        #game_player_select_div {
            margin: 10px 20px;
            display: grid;
            grid-template-columns: repeat(4, 25%);

            .game_player_select_divs {
                .game_player_profile_div { 
                    height: 120px;
                    border : solid 1px #ababab;
                    cursor: $pointer;
                    background-size: 40%;
                    background-repeat: no-repeat;
                    background-position-x: center;
                    background-position-y: center;
                }

                .game_player_name_div { 
                    font-size: $font_12;
                    text-align: $aCenter;
                    margin-top: $margin_10;
                }

                #game_select_disable {
                    background-color: #bbbbbb;
                }
            }

            #game_player_selector {
                color: #03506f !important;
                font-weight: bold !important;
                font-family: $recipe_korea;

                .game_player_profile_div {
                    border: solid 1px #03506f;
                }
            }
        }
        

        #game_select_player_character_div {
            margin-top: $margin_40;

            #game_select_player_character_contents_div {
                display: $grid;
                grid-template-columns: repeat(5, 20%);
                
                div {
                    border: solid 1px #ababab;
                    padding: 10px;
                    text-align: $aCenter;
                    height: 90px;
                    cursor: pointer;

                    img {
                        width: 100%;
                        margin-top: -10px;

                    }

                    #game_select_remove_character_icon {
                        width: 50px !important;
                        margin-top: 10px;
                    }

                    p {
                        font-size: 12px;
                    }
                }

                #select_player_character {
                    border: solid 1px #03506f;
                    background-color: #03506f;
                    
                    p {
                        color: white;
                        font-weight: bold;
                        font-family: $paybook_bold;
                    }
                }
            }

        }
    }
}