@charset "UTF-8";
/* 텍스트 위치 */
.aCenter {
  text-align: center;
}

.aLeft {
  text-align: left;
}

.aRight {
  text-align: right;
}

/* position */
/* cursor */
/* display */
.inline_block {
  display: inline-block;
}

/* margin */
/* Color */
.gray {
  color: #ababab;
}

.black {
  color: black;
}

.white {
  color: white;
}

/* float */
.float_left {
  float: left;
}

.float_right {
  float: right;
}

/* player color */
.color_player_1 {
  color: #28527a;
}

.color_player_2 {
  color: #ad6c80;
}

.color_player_3 {
  color: #007965;
}

.color_player_4 {
  color: #f8dc81;
}

/* font style */
@font-face {
  font-family: "TmoneyRoundWindExtraBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Recipekorea";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "paybooc-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SDSamliphopangche_Outline";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HangeulNuri-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/HangeulNuri-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Y_Spotlight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/Y_Spotlight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* font */
/* font-size */
body {
  cursor: default !important;
  min-width: 1500px;
}
body #notice_div {
  position: absolute !important;
  height: auto !important;
  width: 60% !important;
  line-height: 17px !important;
  margin-top: 20px;
  margin-left: -55%;
  background-color: white;
  border: solid 3px #046582;
  border-radius: 5px;
  padding: 15px;
  z-index: 1000;
  font-family: paybooc-Bold;
  font-size: 12px;
}

#game_home_div #game_title_div {
  text-align: center;
  margin-top: 100px;
  font-family: paybooc-Bold;
}
#game_home_div #game_title_div h2 {
  margin-bottom: 5px !important;
}
#game_home_div #game_title_div p {
  margin: 0px 0px 0px 0px !important;
  color: #ababab;
  font-size: 13px;
}
#game_home_div #game_loading_div {
  text-align: center;
  margin-top: 70px;
  font-family: Recipekorea;
}

#game_start_home_div {
  text-align: center;
}
#game_start_home_div #game_select_div {
  margin-top: 50px;
}
#game_start_home_div #game_select_div div {
  font-family: paybooc-Bold;
  line-height: 40px;
  color: #666465;
}
#game_start_home_div #game_select_div div b {
  cursor: pointer;
}

#modal_title_div {
  text-align: center;
  font-family: Recipekorea;
  border-bottom: solid 1px #ababab;
  padding-bottom: 15px;
}
#modal_title_div h4 {
  margin: 0px 0px 0px 0px;
}
#modal_title_div h4 #modal_close_icon {
  position: absolute;
  width: 18px;
  margin: 0px 0px 0px 35%;
  cursor: pointer;
}

#game_setting_div #game_setting_state_div {
  font-size: 12px;
  margin-top: 20px;
  font-family: paybooc-Bold;
  padding: 0px 10px;
}
#game_setting_div #game_setting_state_div div {
  display: inline-block;
  width: 33%;
  color: #BFBDBE;
}
#game_setting_div #game_setting_state_div div b {
  cursor: pointer;
}
#game_setting_div #game_setting_state_div div #select_setting_option {
  border-bottom: solid 2px #78c4d4;
  padding-bottom: 4px;
  color: #78c4d4;
}

.game_setting_button_style {
  margin-top: 10px;
  font-family: paybooc-Bold;
  background-color: white;
  border-radius: 5px;
  font-size: 12px;
  padding: 3px 10px;
  cursor: pointer;
  margin-left: 15px;
}

#game_setting_contents_div {
  margin-top: 40px;
  min-height: 350px;
}
#game_setting_contents_div #game_setting_contents {
  padding: 0px 10px 0px 10px;
  display: grid;
  grid-template-columns: 10% 80% 10%;
}
#game_setting_contents_div #game_setting_contents .game_setting_arrow_divs {
  line-height: 18;
}
#game_setting_contents_div #game_setting_contents .game_setting_arrow_divs .game_setting_move_arrows {
  width: 20px;
  margin: 0px;
  cursor: pointer;
}
#game_setting_contents_div #game_setting_contents #game_info_setting_div ul {
  font-size: 13px;
  line-height: 40px;
}
#game_setting_contents_div #game_setting_contents #game_info_setting_div ul li div {
  display: inline-block;
}
#game_setting_contents_div #game_setting_contents #game_info_setting_div ul li .game_setting_title_div {
  width: 55%;
}
#game_setting_contents_div #game_setting_contents #game_info_setting_div select {
  cursor: pointer;
  padding: 2.5px;
  width: 130px;
}
#game_setting_contents_div #game_setting_contents #game_info_setting_div .game_setting_radio_div {
  width: 120% !important;
}
#game_setting_contents_div #game_setting_contents #game_info_setting_div .game_setting_radio_div div {
  width: 90px !important;
}
#game_setting_contents_div #game_setting_contents #game_info_setting_div .game_setting_radio_div div input, #game_setting_contents_div #game_setting_contents #game_info_setting_div .game_setting_radio_div div label {
  cursor: pointer;
}
#game_setting_contents_div #game_setting_contents #game_info_setting_div #game_setting_complate_div {
  margin-top: 40px;
}
#game_setting_contents_div #game_setting_contents #game_info_setting_div #game_setting_complate_div div {
  float: right;
}
#game_setting_contents_div .notice_icon {
  width: 15px;
  position: absolute;
  margin: 13px 0px 0px 10px;
}
#game_setting_contents_div #game_setting_player_div #game_playing_player_number, #game_setting_contents_div #game_setting_player_div #game_select_player_character_title {
  font-size: 12px;
  font-family: paybooc-Bold;
}
#game_setting_contents_div #game_setting_player_div #game_player_select_div {
  margin: 10px 20px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
}
#game_setting_contents_div #game_setting_player_div #game_player_select_div .game_player_select_divs .game_player_fix_icon {
  position: absolute;
  width: 15px;
  margin: -10px 100px;
}
#game_setting_contents_div #game_setting_player_div #game_player_select_div .game_player_select_divs .game_player_profile_div {
  height: 120px;
  border: solid 1px #ababab;
  cursor: pointer;
  background-size: 40%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}
#game_setting_contents_div #game_setting_player_div #game_player_select_div .game_player_select_divs .game_player_name_div {
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}
#game_setting_contents_div #game_setting_player_div #game_player_select_div .game_player_select_divs #game_select_disable {
  background-color: #bbbbbb;
}
#game_setting_contents_div #game_setting_player_div #game_player_select_div #game_player_selector {
  color: #03506f !important;
  font-weight: bold !important;
  font-family: Recipekorea;
}
#game_setting_contents_div #game_setting_player_div #game_player_select_div #game_player_selector .game_player_profile_div {
  border: solid 1px #03506f;
}
#game_setting_contents_div #game_setting_player_div #game_select_player_character_div {
  margin-top: 40px;
}
#game_setting_contents_div #game_setting_player_div #game_select_player_character_div #game_select_player_character_contents_div {
  display: grid;
  grid-template-columns: repeat(5, 20%);
}
#game_setting_contents_div #game_setting_player_div #game_select_player_character_div #game_select_player_character_contents_div div {
  border: solid 1px #ababab;
  padding: 10px;
  text-align: center;
  height: 90px;
  cursor: pointer;
}
#game_setting_contents_div #game_setting_player_div #game_select_player_character_div #game_select_player_character_contents_div div img {
  width: 100%;
  margin-top: -10px;
}
#game_setting_contents_div #game_setting_player_div #game_select_player_character_div #game_select_player_character_contents_div div #game_select_remove_character_icon {
  width: 50px !important;
  margin-top: 10px;
}
#game_setting_contents_div #game_setting_player_div #game_select_player_character_div #game_select_player_character_contents_div div p {
  font-size: 12px;
}
#game_setting_contents_div #game_setting_player_div #game_select_player_character_div #game_select_player_character_contents_div #select_player_character {
  border: solid 1px #03506f;
  background-color: #03506f;
}
#game_setting_contents_div #game_setting_player_div #game_select_player_character_div #game_select_player_character_contents_div #select_player_character p {
  color: white;
  font-weight: bold;
  font-family: paybooc-Bold;
}
#game_setting_contents_div #game_setting_player_div #game_select_player_character_div #game_select_player_character_contents_div #select_player_character_point_icon {
  width: 25px;
  position: absolute;
  margin: -26px 25px;
}
#game_setting_contents_div #game_setting_player_div #game_character_select_start_div {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 40px;
}
#game_setting_contents_div #game_setting_start_div .game_setting_result_divs {
  margin-bottom: 20px;
}
#game_setting_contents_div #game_setting_start_div .game_setting_result_divs p {
  font-size: 12px;
  font-family: paybooc-Bold;
  color: #52bfff;
  display: inline-block !important;
  margin: 0px 0px;
  cursor: pointer;
}
#game_setting_contents_div #game_setting_start_div .game_setting_result_divs p img {
  width: 15px;
  position: absolute;
  margin: 0px 8px;
}
#game_setting_contents_div #game_setting_start_div .game_setting_result_divs .game_setting_result_border {
  padding: 15px;
}
#game_setting_contents_div #game_setting_start_div .game_setting_result_divs .game_setting_result_grid_div {
  display: grid;
  grid-template-columns: 35% auto;
  font-size: 13px;
  line-height: 20px;
  border-bottom: dotted 1px #ababab;
}
#game_setting_contents_div #game_setting_start_div .game_setting_result_divs .game_setting_result_grid_div .game_setting_result_title_div {
  text-align: right;
  border-right: solid 1px #ababab;
  padding: 2px 10px;
}
#game_setting_contents_div #game_setting_start_div .game_setting_result_divs .game_setting_result_grid_div .game_setting_result_contents_div {
  padding-left: 15px;
  font-size: 12px;
  line-height: 2;
  color: #ababab;
}
#game_setting_contents_div #game_setting_start_div .game_setting_result_divs #game_player_setting_result_div {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}
#game_setting_contents_div #game_setting_start_div .game_setting_result_divs #game_player_setting_result_div .game_setting_character_result_div {
  border: solid 1px #ababab;
}
#game_setting_contents_div #game_setting_start_div .game_setting_result_divs #game_player_setting_result_div .game_setting_character_result_div div {
  min-height: 100px;
}
#game_setting_contents_div #game_setting_start_div .game_setting_result_divs #game_player_setting_result_div .game_setting_character_result_div p {
  border-top: solid 1px #ababab;
  display: block !important;
  text-align: center;
  padding: 3px 0px;
  color: black;
  font-family: paybooc-Bold;
}
#game_setting_contents_div #game_setting_start_div .game_setting_result_divs #game_player_setting_result_div .game_setting_character_result_div .setting_character_result_empty {
  width: 80px;
  margin-top: 15px;
}
#game_setting_contents_div #game_setting_start_div #game_start_button {
  margin-top: 20px;
  width: 100%;
  padding: 5px;
  line-height: 2;
  background-color: black;
  color: white;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  font-family: Recipekorea;
}

#game_div #game_other_div {
  display: grid;
  grid-template-columns: 50% 50%;
}
#game_div #game_other_div div {
  margin: 5px 20px;
}
#game_div #game_other_div #game_title_div {
  text-align: left;
}
#game_div #game_other_div #game_title_div h2 {
  font-size: 17px;
}
#game_div #game_other_div #game_title_div p {
  font-size: 10px;
}
#game_div #game_other_div #game_other_funtion_div {
  text-align: right;
  line-height: 3.5;
}
#game_div #game_other_div #game_other_funtion_div div {
  display: inline-block;
  cursor: pointer;
  font-size: 12px;
  font-family: TmoneyRoundWindExtraBold;
}
#game_div #game_main_start_ready_div {
  border: solid 2px #ababab;
  width: 620px;
  height: 720px;
  position: absolute;
  margin: -2px -2px;
  background-color: black;
  opacity: 0.5;
  cursor: pointer;
}
#game_div #game_main_start_ready_div h2 {
  color: white;
  width: 100%;
  text-align: center;
  line-height: 25;
  font-family: TmoneyRoundWindExtraBold;
}
#game_div #game_contents_div {
  height: 730px;
  margin-top: 15px;
  padding: 12px 20px;
}
#game_div #game_contents_div #game_main_contents_div {
  min-height: 587px;
  padding-bottom: 30px;
}
#game_div #game_contents_div #game_main_contents_div .game_map_columns_divs {
  height: 77px;
}
#game_div #game_contents_div #game_main_contents_div #game_main_map_div {
  position: absolute;
  width: 620px;
  height: 720px;
  border: solid 2px #ababab;
  margin-left: 28% !important;
}
#game_div #game_contents_div #game_main_contents_div #game_main_map_div .game_main_map_divs {
  font-size: 12px;
  font-family: paybooc-Bold;
}
#game_div #game_contents_div #game_main_contents_div #game_main_map_div .game_main_map_divs .game_top_and_bottom_map_div {
  max-height: 81px !important;
  line-height: 1.8 !important;
}
#game_div #game_contents_div #game_main_contents_div #game_main_map_div .game_main_map_divs .game_top_and_bottom_map_div div {
  float: left;
  width: 88.5px;
  max-height: 79px !important;
  text-align: center;
  cursor: pointer;
}
#game_div #game_contents_div #game_main_contents_div #game_main_map_div .game_main_map_divs #game_middle_main_map_div {
  display: grid;
  grid-template-columns: 90px 441px 90px;
  height: 560px;
}
#game_div #game_contents_div #game_main_contents_div #game_main_map_div .game_main_map_divs #game_middle_main_map_div .game_middle_map_divs {
  line-height: 1.8 !important;
}
#game_div #game_contents_div #game_main_contents_div #game_main_map_div .game_main_map_divs #game_middle_main_map_div .game_middle_map_divs .game_map_rows_divs {
  height: 79px;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
#game_div #game_contents_div #game_main_contents_div #game_main_map_div .game_main_map_divs #game_middle_left_divs {
  border-right: solid 2px #ababab;
}
#game_div #game_contents_div #game_main_contents_div #game_main_map_div .game_main_map_divs #game_middle_right_divs {
  border-left: solid 2px #ababab;
}
#game_div #game_contents_div #game_main_contents_div #game_main_map_div .game_main_map_divs .map_name_div b {
  display: block;
  border-bottom: solid 1px #ababab;
  width: 100%;
}
#game_div #game_contents_div #game_main_contents_div #game_main_map_div .game_main_map_divs .city_price_div {
  font-size: 14px !important;
  margin-top: 15px;
  color: #ababab;
  font-family: paybooc-Bold;
}
#game_div #game_contents_div #game_main_contents_div #game_main_map_div .game_main_map_divs .map_event_div {
  font-family: Recipekorea;
  line-height: 3;
  height: 20px !important;
}
#game_div #game_contents_div #game_main_contents_div #game_main_map_div .game_main_map_divs .event_map_icon {
  width: 35px !important;
  margin-top: 10px;
}
#game_div #game_contents_div .game_contents_player_div .game_contents_player_profile_div {
  border: solid 1px #ababab;
  max-width: 340px;
  height: 103px;
}
#game_div #game_contents_div .game_contents_player_div .game_contents_player_profile_div .empty_player_thumb {
  background-color: #bbbbbb;
}
#game_div #game_contents_div .game_contents_player_div .game_contents_player_profile_div .empty_player_contents .empty_player_title {
  text-align: center;
  color: #ababab;
  line-height: 3.5;
}
#game_div #game_contents_div .game_contents_player_div .game_contents_player_profile_div .game_contents_player_thumbnail_div {
  width: 85px;
  height: 103px;
}
#game_div #game_contents_div .game_contents_player_div .game_contents_player_profile_div .game_contents_player_thumbnail_div .game_contents_player_thumbnail {
  height: 80px;
  background-size: contain;
  background-position-y: -5px;
  background-repeat: no-repeat;
  background-position-x: center;
}
#game_div #game_contents_div .game_contents_player_div .game_contents_player_profile_div .game_contents_player_thumbnail_div .game_contents_player_name {
  text-align: center;
  font-size: 12px;
  font-family: paybooc-Bold;
  padding: 4px 0px;
}
#game_div #game_contents_div .game_contents_player_div .game_contents_player_profile_div .player_my_turn_icon h3 {
  font-family: SDSamliphopangche_Outline;
  color: orange;
  font-size: 22px;
}
#game_div #game_contents_div .game_contents_player_div .game_contents_player_info_div {
  min-height: 103px;
  min-width: 250px;
  max-width: 400px;
  text-align: left;
}
#game_div #game_contents_div .game_contents_player_div .game_contents_player_info_div .game_contents_user_info_div {
  font-size: 14px;
  padding: 10px;
}
#game_div #game_contents_div .game_contents_player_div .game_contents_player_info_div .game_contents_user_info_div .game_user_have_money_div, #game_div #game_contents_div .game_contents_player_div .game_contents_player_info_div .game_contents_user_info_div .game_user_my_location {
  padding: 5px;
  font-size: 13px;
}
#game_div #game_contents_div .game_contents_player_div .game_contents_player_info_div .game_contents_user_info_div .game_user_have_money_div {
  font-family: Recipekorea;
  border-bottom: solid 1px #ababab;
}
#game_div #game_contents_div .game_contents_player_div .game_contents_player_info_div .game_contents_user_info_div .game_user_my_location {
  margin-top: 5px;
  color: #ababab;
}
#play_game_divs #play_game_main_div {
  padding: 10px 0px;
}
#play_game_divs #play_game_main_div #play_round_notice_div {
  height: 50px;
  margin-top: 30px;
}
#play_game_divs #play_game_main_div #play_round_notice_div h2 {
  font-size: 30px;
  font-family: SDSamliphopangche_Outline;
  color: #214151;
  margin: 15px 0px 0px 0px;
  word-spacing: 10px;
}
#play_game_divs #play_game_main_div #play_game_notice_div {
  min-height: 100px;
  text-align: center;
  margin-top: 30px;
}
#play_game_divs #play_game_main_div #play_game_notice_div #play_main_notice_div {
  font-size: 15px;
  font-family: Recipekorea;
}
#play_game_divs #playing_timer_div {
  text-align: center;
  line-height: 0;
}
#play_game_divs #playing_timer_div div {
  display: inline-block;
}
#play_game_divs #playing_timer_div #timer_div, #play_game_divs #playing_timer_div #timer_slide_div {
  width: 360px;
  border: solid 2px #ababab;
  border-radius: 5px;
  height: 20px;
  margin-left: -5px;
  background-color: #f8f1f1;
  text-align: left !important;
}
#play_game_divs #playing_timer_div #timer_slide_div {
  width: 0px;
  max-width: 360px !important;
  opacity: 0;
  margin: -2px -2px !important;
  background-color: #214151;
}
#play_game_divs #playing_timer_div #timer_notice_div {
  position: absolute;
  margin-top: 12px;
  margin-left: 10px !important;
  text-align: center;
  font-family: TmoneyRoundWindExtraBold;
}
#play_game_divs #playing_action_div {
  margin-top: 30px;
  border: solid 1px #ababab;
  border-radius: 5px;
  display: inline-block;
  width: 85%;
  height: 230px;
}
#play_game_divs #playing_action_div #playing_select_div {
  margin-top: 15px;
  font-size: 13px;
  font-family: Recipekorea;
  color: #046582;
}

#end_turn_button {
  margin: 0px;
  background-color: black;
  display: inline-block;
  width: 85%;
  color: white;
  padding: 5px 0px;
  font-size: 13px !important;
  border-radius: 5px;
  font-family: Y_Spotlight;
  cursor: pointer;
}

/*# sourceMappingURL=config.css.map */
