/* 텍스트 위치 */
$aCenter : center; .aCenter { text-align: $aCenter; }
$aLeft : left; .aLeft { text-align: $aLeft; }
$aRight : right; .aRight { text-align: $aRight; }

/* position */
$absolute : absolute;

/* cursor */
$pointer : pointer;

/* display */
$inline_block : inline-block; .inline_block { display: inline-block; }
$grid : grid;

/* margin */
$empty_margin : 0px 0px 0px 0px;
$margin_10 : 10px;
$margin_20 : 20px;
$margin_30 : 30px;
$margin_40 : 40px;
$margin_50 : 50px;
$margin_60 : 60px;

/* Color */
$gray : #ababab; .gray { color : $gray }
$black : black; .black { color : $black }
$white : white; .white { color : $white }

/* float */
$float_left : left; .float_left { float : left };
$float_right : right; .float_right { float : right };

/* player color */
.color_player_1 { color : #28527a };
.color_player_2 { color : #ad6c80 };
.color_player_3 { color : #007965 };
.color_player_4 { color : #f8dc81 };

/* font style */
@font-face {
  font-family: 'TmoneyRoundWindExtraBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
  
@font-face {
  font-family: 'Recipekorea';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
  
@font-face {
  font-family: 'paybooc-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HangeulNuri-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/HangeulNuri-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Y_Spotlight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/Y_Spotlight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
  
/* font */
$t_money_font : TmoneyRoundWindExtraBold;
$recipe_korea : Recipekorea;
$paybook_bold : paybooc-Bold;
$SDSamliphopangche_Outline : SDSamliphopangche_Outline;
$HangeulNuri-Bold : HangeulNuri-Bold;
$Y_Spotlight : Y_Spotlight;

/* font-size */
$font_16 : 16px;
$font_15 : 15px;
$font_14 : 14px;
$font_13 : 13px;
$font_12 : 12px;

body {
    cursor: default !important;
    min-width : 1500px;

    #notice_div { 
        position: $absolute !important;
        height: auto !important;
        width: 60% !important;
        line-height: 17px !important;
        margin-top: 20px;
        margin-left: -55%;
        background-color: white;
        border: solid 3px #046582;
        border-radius: 5px;
        padding: 15px;
        z-index: 1000;
        font-family: $paybook_bold;
        font-size: 12px;
    }
}

#game_home_div {
    #game_sound_divs {
        audio {
            opacity: 0 !important;
        }
    }

    #game_title_div { 
        text-align: $aCenter;
        margin-top: 100px;
        font-family: $paybook_bold;

        h2 {
            margin-bottom: 5px !important;
        }
        p {
            margin: $empty_margin !important;
            color: $gray;
            font-size: $font_13;
        }
    }

    #game_loading_div { 
        text-align: $aCenter;
        margin-top: 70px;
        font-family: $recipe_korea;
    }
}

#game_start_home_div { 
    text-align: $aCenter;

    #game_select_div { 
        margin-top: 50px;

        div {
            font-family: $paybook_bold;
            line-height: $margin_40;
            color:#666465;

            b {
                cursor: $pointer;
            }
        }
    }
}

#modal_title_div {
    text-align: $aCenter;
    font-family: $recipe_korea;
    border-bottom: solid 1px #ababab;
    padding-bottom: 15px;

    h4 {
        margin: $empty_margin;

        #modal_close_icon {
            position: $absolute;
            width: 18px;
            margin: 0px 0px 0px 35%;
            cursor: $pointer;
        }
    }
}

#game_setting_div {
    #game_setting_state_div { 
        font-size: $font_12;
        margin-top: $margin_20;
        font-family: $paybook_bold;
        padding: 0px 10px;
        
        div {
            display: $inline_block;
            width: 33%;
            color: #BFBDBE;

            b { 
                cursor: $pointer;
            }

            #select_setting_option {
                border-bottom: solid 2px #78c4d4;
                padding-bottom: 4px;
                color: #78c4d4;
            }
        }
    }
}

.game_setting_button_style {
    margin-top: $margin_10;
    font-family: $paybook_bold;
    background-color: white;
    border-radius: 5px;
    font-size: $font_12;
    padding: 3px 10px;
    cursor: $pointer;
    margin-left: 15px;
}

#game_setting_contents_div { 
    margin-top: $margin_40;
    min-height: 350px;
    
    #game_setting_contents { 
        padding: 0px 10px 0px 10px;
        display: $grid;
        grid-template-columns: 10% 80% 10%;

        .game_setting_arrow_divs { 
            line-height: 18;

            .game_setting_move_arrows {
                width: 20px;
                margin : 0px;
                cursor: pointer;
            }

        }

        #game_info_setting_div {
            ul {
                font-size: $font_13;
                line-height: 40px;

                li {
                    div {
                        display: $inline_block;
                        // width: 50%;
                    }

                    .game_setting_title_div {
                        width: 55%;
                    }

                }
            }

            select {
                // margin-left: 80px;
                cursor: $pointer;
                padding: 2.5px;
                width: 130px;
            }

            .game_setting_radio_div {
                width: 120% !important;

                div {
                    width: 90px !important;
                    
                    input, label {
                        cursor: pointer;
                    }
                }
            }


            #game_setting_complate_div {
                margin-top: $margin_40;

                div {
                    float: right;
                }
            }
        }
    }

    .notice_icon { 
        width: 15px;
        position: $absolute;
        margin: 13px 0px 0px 10px;
    }

    #game_setting_player_div {
        #game_playing_player_number, #game_select_player_character_title {
            font-size: $font_12;
            font-family: $paybook_bold;
        }

        #game_player_select_div {
            margin: 10px 20px;
            display: grid;
            grid-template-columns: repeat(4, 25%);

            .game_player_select_divs {
                .game_player_fix_icon {
                    position: absolute;
                    width: 15px;
                    margin : -10px 100px;
                }

                .game_player_profile_div { 
                    height: 120px;
                    border : solid 1px #ababab;
                    cursor: $pointer;
                    background-size: 40%;
                    background-repeat: no-repeat;
                    background-position-x: center;
                    background-position-y: center;
                }

                .game_player_name_div { 
                    font-size: $font_12;
                    text-align: $aCenter;
                    margin-top: $margin_10;
                }

                #game_select_disable {
                    background-color: #bbbbbb;
                }
            }

            #game_player_selector {
                color: #03506f !important;
                font-weight: bold !important;
                font-family: $recipe_korea;

                .game_player_profile_div {
                    border: solid 1px #03506f;
                }
            }
        }
        

        #game_select_player_character_div {
            margin-top: $margin_40;

            #game_select_player_character_contents_div {
                display: $grid;
                grid-template-columns: repeat(5, 20%);
                
                div {
                    border: solid 1px #ababab;
                    padding: 10px;
                    text-align: $aCenter;
                    height: 90px;
                    cursor: pointer;

                    img {
                        width: 100%;
                        margin-top: -10px;

                    }

                    #game_select_remove_character_icon {
                        width: 50px !important;
                        margin-top: 10px;
                    }

                    p {
                        font-size: 12px;
                    }
                }

                #select_player_character {
                    border: solid 1px #03506f;
                    background-color: #03506f;
                    
                    p {
                        color: white;
                        font-weight: bold;
                        font-family: $paybook_bold;
                    }
                }

                #select_player_character_point_icon {
                    width: 25px;
                    position: absolute;
                    margin: -26px 25px;
                }
            }
        }

        #game_character_select_start_div {
            display: $grid;
            grid-template-columns: 50% 50%;
            margin-top: 40px;

        }
    }

    #game_setting_start_div {

        .game_setting_result_divs {
            margin-bottom: 20px;

            p {
                font-size: 12px;
                font-family: $paybook_bold;
                color: #52bfff;
                display: inline-block !important;
                margin: 0px 0px;
                cursor: pointer;

                img {
                    width: 15px;
                    position: absolute;
                    margin: 0px 8px;
                }
            }

            .game_setting_result_border {
                // border: solid 1px #ababab;
                padding: 15px;
            }

            .game_setting_result_grid_div {
                display: grid;
                grid-template-columns: 35% auto;
                font-size: 13px;
                line-height: 20px;
                border-bottom: dotted 1px #ababab;

                .game_setting_result_title_div {
                    text-align: right;
                    border-right: solid 1px #ababab;
                    padding: 2px 10px;
                }

                .game_setting_result_contents_div {
                    padding-left : 15px;
                    font-size: 12px;
                    line-height: 2;
                    color: #ababab;
                }
            }

            #game_player_setting_result_div {
                display: grid;
                grid-template-columns: repeat(4, 25%);

                .game_setting_character_result_div {
                    border: solid 1px #ababab;

                    div {
                        min-height: 100px;
                    }

                    p {
                        border-top: solid 1px #ababab;
                        display: block !important;
                        text-align: center;
                        padding: 3px 0px;
                        color: black;
                        font-family: $paybook_bold;
                    }

                    .setting_character_result_empty {
                        width: 80px;
                        margin-top: 15px;
                    }
                }
            }
        }

        #game_start_button {
            margin-top: 20px;
            width: 100%;
            padding: 5px;
            line-height: 2;
            background-color: black;
            color: white;
            border-radius: 5px;
            font-size: 15px;
            cursor: pointer;
            font-family: $recipe_korea;
        }
    }
}

#game_div {
    // opacity: 0;

    #game_other_div { 
        display: grid;
        grid-template-columns: 50% 50%;

        div {
            margin: 5px 20px;
        }

        #game_title_div {
            text-align: left;
            
            h2 { font-size: 17px; }
            p { font-size: 10px; }
        }

        #game_other_funtion_div {
            text-align: right;
            line-height: 3.5;

            div {
                display: inline-block;
                cursor: pointer;
                font-size: 12px;
                font-family: $t_money_font;
            }
        }
    }

    #game_main_start_ready_div {
        border: solid 2px #ababab;
        width: 620px;
        height: 720px;
        position: absolute;
        margin: -2px -2px;
        background-color: black;
        opacity: 0.5;
        cursor: pointer;

        h2 {
            color: white;
            width: 100%;
            text-align: center;
            line-height: 25;
            font-family: $t_money_font;
        }
    }

    #game_contents_div {
        height: 730px;
        margin-top: 15px;
        padding: 12px 20px;

        #game_main_contents_div {
            min-height: 587px;
            padding-bottom: 30px;

            .game_map_columns_divs {
                height: 77px;
            }

            #game_main_map_div { 
                position: $absolute;
                width: 620px;
                height: 720px;
                border: solid 2px #ababab;
                // transform: rotate(405deg);
                margin-left: 28% !important;
                // margin-top: -109px !important;

                .game_main_map_divs {
                    font-size: $font_12;
                    font-family: $paybook_bold;

                    .game_top_and_bottom_map_div {
                        max-height: 81px !important;
                        line-height: 1.8 !important;

                        div {
                            float: left;
                            width: 88.5px;
                            // height: 79px;
                            max-height: 79px !important;
                            text-align: $aCenter;
                            cursor: pointer;
                        }
                    }

                    #game_middle_main_map_div {
                        display: grid;
                        grid-template-columns: 90px 441px 90px;
                        height: 560px;

                        .game_middle_map_divs {
                            line-height: 1.8 !important;
                            .game_map_rows_divs {
                                height: 79px;
                                width: 100%;
                                text-align: $aCenter;
                                cursor: pointer;
                            }
                        }
                    }

                    #game_middle_left_divs { border-right: solid 2px #ababab; }
                    #game_middle_right_divs { border-left: solid 2px #ababab; }

                    .map_name_div {
                        width: 89px !important;
                        margin-left: 0px !important;

                        b {
                            display: block;
                            border-bottom: solid 1px #ababab;
                            width: 100%;
                            // padding : 3px 0px;
                        }
                    }

                    .city_price_div {
                        font-size: 14px !important;
                        margin-top: 15px;
                        color: #ababab;
                        font-family: $paybook_bold;
                    }

                    .map_event_div {
                        // background-color: #e4d3cf;
                        font-family: $recipe_korea;
                        line-height: 3;
                        height: 20px !important;
                    }

                    .event_map_icon {
                        width: 35px !important;
                        margin-top: 10px;
                    }
                }
            }
        }
    
        .game_contents_player_div {
            .game_contents_player_profile_div {
                border: solid 1px #ababab;
                max-width: 340px;
                height: 103px;
                
                .empty_player_thumb {
                    background-color: #bbbbbb;
                }

                .empty_player_contents {
                    .empty_player_title {
                        text-align: $aCenter;
                        color: #ababab;
                        line-height: 3.5;
                    }
                }

                .game_contents_player_thumbnail_div {
                    width: 85px;
                    height: 103px;

                    .game_contents_player_thumbnail {
                        height: 80px;
                        background-size: contain;
                        background-position-y: -5px;
                        background-repeat: no-repeat;
                        background-position-x: center;
                    }

                    .game_contents_player_name {
                        text-align: center;
                        font-size: 12px;
                        font-family: $paybook_bold;
                        padding: 4px 0px;
                    }
                }

                .player_my_turn_icon {
                    h3 {
                        font-family: $SDSamliphopangche_Outline;
                        color: orange;
                        font-size: 22px;
                    }
                }
            }

            .game_contents_player_info_div {
                min-height: 103px;
                // border: solid 1px #ababab;

                min-width: 250px;
                max-width: 400px;
                text-align: $aLeft;

                .game_contents_user_info_div {
                    font-size: $font_14;
                    padding: 10px;

                    .game_user_have_money_div, .game_user_my_location, .game_user_has_location {
                        padding: 5px;
                        font-size: 13px;
                    }

                    .game_user_have_money_div {
                        font-family: $recipe_korea;
                        border-bottom: solid 1px #ababab;

                        .game_user_bank_info_icon { 
                            width: 15px;
                            position: absolute;
                            margin-left: 15px;
                            cursor: pointer;
                        }
                    }

                    #game_user_bank_info {
                        position: absolute;
                        width: 215px;
                        border: solid 2px black;
                        border-radius: 5px;
                        padding: 5px;
                        text-align: center;
                        margin-top: -60px;
                        background-color: white;
                        // padding-bottom: 20px;
                        
                        h3 { 
                            margin: 10px 0px !important;
                            font-size: 14px;
                            font-family: $recipe_korea;
                            padding-bottom: 10px;
                            border-bottom: dotted 1px #ababab;
                        }

                        .game_user_bank_info_divs {
                            padding-left: 10px;
                            margin-top: 20px;

                            h4 {
                                font-size: 13px;
                                margin: 15px 0px 3px 0px !important;
                                color: #ababab;
                                text-align: left;
                                font-family: $SDSamliphopangche_Outline;

                                b {
                                    color: black;
                                }
                            }

                            .game_user_bank_info_grid_div {
                                display: grid;
                                grid-template-columns: 100px auto;
                                font-size: 12px;
                                margin-top: 10px;
                                font-family: $Y_Spotlight;
                            }
                        }

                        #game_user_bank_info_round_bonus_alert {
                            border: solid 2px black;
                            margin-top: 25px;
                            padding: 5px;
                            background-color: black;
                            color: white;
                            text-align: left;
                            padding-left: 10px;
                            font-size: 12px;
                            font-family: $recipe_korea;

                            div {
                                display: inline-block;

                                #game_bonus_money_info_alert_icon {
                                    width: 17px;
                                    position: absolute;
                                    margin: -1px 15px;
                                    cursor: pointer;
                                }
                            }
                        }
                    }

                    .game_user_my_location, .game_user_has_location {
                        margin-top: 5px;
                        color: #ababab;
                    }

                    .game_user_has_location {
                        margin-top: 0px;
                        padding-bottom: 0px;
                    }
                }
            }

            .game_contents_player_info_margin {
                // margin: 0px -2px;

            }
            // .game_player_profile_divs {
            //     display: $inline_block;
            // }
        }
    }
}

#play_game_divs {
    // opacity: 0;

    #play_game_main_div {
        padding: 10px 0px;

        #play_round_notice_div {
            height: 50px;
            margin-top: 30px;

            h2 {
                font-size: 30px;
                font-family: $SDSamliphopangche_Outline;
                color: #214151;
                margin: 15px 0px 0px 0px;
                word-spacing: 10px;
            }
        }

        #play_game_notice_div {
            min-height: 100px;

            text-align: center;
            margin-top: 30px;

            #play_main_notice_div {
                font-size: 15px;
                font-family: $recipe_korea;
            }

            #play_additional_notice_div {
                margin-top: 5px;
                color: orange;
                font-family: $Y_Spotlight;
            }
        }
    }

    #playing_timer_div {
        margin-top: -20px;
        text-align: center;
        line-height: 0;

        div {
            display: inline-block;
        }

        #timer_div, #timer_slide_div {
            width: 360px;
            border: solid 2px #ababab;
            border-radius: 5px;
            height: 20px;
            margin-left: -5px;
            background-color: #f8f1f1;
            text-align: left !important;
        }

        #timer_slide_div {
            width: 0px;
            max-width: 360px !important;
            opacity: 0;
            margin: -2px -2px !important;
            background-color: #214151;
        }

        #timer_notice_div {
            position: absolute;
            margin-top: 12px;
            margin-left: 10px !important;
            text-align: $aCenter;
            font-family: $t_money_font;
        }
    }

    #playing_action_div {
        margin-top: 30px;
        border: solid 1px #ababab;
        border-radius: 5px;
        display: inline-block;
        width: 85%;
        height: 255px;

        #playing_contents_div {
            // height: 260px !important;
        }

        #playing_select_div {
            margin-top: 15px;
            font-size: 13px;
            font-family: $recipe_korea;
            color: #046582;

            img {
                width: 25px;
                position: absolute;
                margin: -5px -25px;
            }

            div {
                cursor: pointer;
                display: inline-block;
                margin: 0px 5px;
            }
        }

        #card_select_div {
            #card_notice_div {
                height: 40px;

                #card_notice_ment_div {
                    text-align: center;
                    font-family: $Y_Spotlight;
                    margin-top: 5px;
                }
            }

            #card_grid_div {
                margin-top: 30px;
                display: grid;
                grid-template-columns: 280px auto;
                height: 140px;

                #card_list_div {
                    margin : 20px 20px;

                    .each_cards_div {
                        display: inline-block;
                        width: 80px;
                        height: 100px;
                        border: dotted 3px #ababab;
                        background-color: white;
                        position: absolute;
                        cursor: pointer;
                        font-size: 25px;
                        text-align: center;
                        color: #bbbbbb;
                        line-height: 4;
                        font-family: $Y_Spotlight;
                    }
                }

                #card_result_div {
                    text-align: center;
                    margin-top: 20px;
                    font-size: 12px;

                    #last_select_card_div {
                        margin-top: 16px;
                    }

                    .card_result_divs {
                        text-align: center;

                        div {
                            display: inline-block;
                            border: dotted 1px #ababab;
                            width: 50px;
                            
                        }
                    }
                }
            }
        }
    }
}



#end_turn_button {
    margin: 0px !important;
    background-color: black;
    display: inline-block;
    width: 85%;
    color: white;
    padding: 5px 0px;
    font-size: 13px !important;
    border-radius: 5px;
    font-family:$Y_Spotlight;
    cursor: pointer;
}

.player_mini_character {
    height: 10px !important;
    width: 10px !important;
    position: $absolute;
    margin-top: -10px;
    margin-right: 20px !important;
    border: solid 3px white;
    border-radius: 10px;
}

#build_div {
    border-top: solid 2px #ababab;

    #build_city_contents_div {
        margin-top: -10px;
    }

    #build_city_info_div {
        font-family: $Y_Spotlight;

        .build_notice_grid_div {
            display: grid;
            grid-template-columns: 50% auto;

            #build_host_notice, #pass_price_notice_div {
                text-align: $aLeft !important;
            }
        }

        // h3 { 
        //     // margin-top: 15px !important; 
        //     margin-bottom: 0px;
        // }
        // p {
        //     font-family: $Y_Spotlight;
        //     margin-top: 3px !important;
        //     color: #ababab;
        // }

        // #build_host_notice, #pass_price_div {
        //     margin-top: -15px !important;
        //     margin-bottom: 10px;
        // }
    }

    #buy_map_div {
        margin-top: 45px;  
        
        input {
            margin-top: -5px;
            width: 80%;
            background-color: white;
            height: 30px;
            line-height: 30px;
            font-family: $recipe_korea;
            cursor: pointer;
        }
    }

    #build_map_div {
        display: grid;
        // grid-template-columns: repeat(4, 25%);
        padding: 0px 10px;
        margin-top: 15px;

        .build_select_divs {
            border: solid 1px #ababab;
            height: 80px;
            color: #ababab;
            cursor: pointer;

            .build_select_title_div {
                font-size: 9px !important;
                height: 25px;
                line-height: 25px;
                border-bottom: solid 1px #ababab;
            }

            .building_image {
                width: 30px;
                height: 30px;
                margin-top: 5px;
            }

            .build_price_div {
                height: 10px;
                line-height: 10px;
            }

            #build_confirm_div, .build_complate_div {
                height: 52px;
                font-size: 18px;
                font-family: $SDSamliphopangche_Outline;
                opacity: 0.8;
                line-height: 52px;
                border: solid 1px black;
                background-color: black;
                color: white;
                width: 115px;
                position: $absolute;
                margin: -52px 0px;
            }

            .build_complate_div {
                color: #94ebcd;
            }
        }
    }
}

.event_ment_div {
    margin-top: 50px;
}

.build_complate_icon_divs {
    width: 30px !important;
    position: absolute;
    opacity: 0.15;
    // margin-top: 10px;

    img {
        width: 30px !important;
    }
}

#casino_event_div {
    #casino_betting_select_div {
        margin-top: 10px;
        input {
            margin-left: 10px;
            padding: 3px;
        }

        #betting_input {
            width: 100px;
            text-align: right;
            margin-right: 10px;
        }

    }

    #casino_select_card_div {
        font-family: $Y_Spotlight;
        border: solid 2px #ababab;
        margin: 20px 20px;
        height: 140px;
        
        #betting_confirm_input {
            width: 50%;
            background-color: white;
            margin-top: 35px;
            font-size: 13px;
            padding: 5px 0px;
            cursor: pointer;
            font-family: $paybook_bold;
            background-color: black;
            color: white;
        }

        #casino_card_limit_select {
            margin-top: 20px;

            div {
                border: solid 1px #ababab;
                color: white;
                border-bottom: none;
                background-color: #bbbbbb;
                height: 39.5px;
                width: 100.5%;
                margin-left: -2px !important;
                line-height: 38px;
                cursor: pointer;
            }
        }

        #casino_game_contents_div {
            #casino_card_selecting_div {
                margin-top: 20px;
                background-color: white !important;
                color: black !important;

                .select_casino_card_div, .casino_select_card_able_div{
                    display: inline-block;
                    width: 60px;
                    height: 70px;
                    line-height: 70px;
                    font-size: 19px;
                }

                .casino_select_card_able_div {
                    position: absolute;
                    border: solid 2px black;
                    margin: -2px -38px;
                    background-color: black;
                    color: white;
                    opacity: 0.5;
                    
                }
            }
        }
    }
}

#bank_event_map_div {

    #bank_tap_div {
        margin-top: 10px;
        border-top: solid 2px #ababab;
        padding: 5px 0px;
        border-bottom: solid 2px #ababab;

        #select_bank_tap {
            color: #1687a7;
            border-bottom: solid 3px #1687a7;
        }

        div {
            display: inline-block !important;
            margin: 0px 20%;
            cursor: pointer;
            color: #ababab;
            padding-bottom: 0px;
        }
    }

    #bank_home_div {
        margin-top: 35px;

        h3 { 
            font-family: $recipe_korea;
            margin-bottom: 0px !important;
            font-size: 16px;
        }

        p {
            font-family: $Y_Spotlight;
            margin-top: 0px !important;
            font-size: 12px;
        }

        #bank_select_home_div {
            margin-top: 25px;

            div {
                margin: 0px 25%;
                width: 50%;
                border: solid 2px #ababab;
                border-radius: 5px;
                margin-top: 10px;
                padding: 3px;
                cursor: pointer;
                color: #ababab;
            }
        }
    }

    #bank_save_money_div {
        h3 {
            margin-top: 15px;
            font-family: $recipe_korea;
        }

        #bank_my_money_info {
            border: solid 2px #ababab;
            margin: -5px 20px;
            height: 100px;
            border-radius: 5px;

            #bank_my_save_money_input_div {
                margin-top: 10px;

                input {
                    padding: 2px;
                    padding-right: 5px;
                    text-align: right;
                    width: 40%;
                    margin-right: 10px;
                }
            }

            #bank_my_total_incentive_div {
                div {
                    input[type=button] {
                        position: absolute;
                        font-size: 10px;
                        margin-left: 25px;
                        background-color: white;
                        border: solid 1px black;
                        border-radius: 5px;
                        padding: 2px 10px;
                        cursor: pointer;
                        font-weight: bold;
                        font-family: $Y_Spotlight;
                    }
                }
            }
        }
        
    }

    .bank_grid_div {
        display: grid;
        grid-template-columns: 150px auto;
        margin-top: 5px;
    }

    #bank_loan_div {

        #bank_loan_confirm_button_div {
            border: solid 2px #d3e0ea;
            position: absolute;
            width: 60%;
            margin-left: -1px;
            margin-top: -53px;
            height: 35px;
            line-height: 35px;
            background-color: #d3e0ea;
            color: black;
            text-shadow: 2px 2px 2px white;
            font-family: $SDSamliphopangche_Outline;
            font-size: 18px;
            cursor: pointer;
            // opacity: 0;
        }

        #bank_loan_player_credit_rating {
            h3 {
                font-family: $recipe_korea;
            }
        }

        #bank_loan_grid_div {
            margin-top: 10px;
            display: grid;
            grid-template-columns: 55% auto;

            #bank_loan_contents_div {
            //     width: 60%;
            //     text-align: left;
                border: solid 2px #ababab;
                border-radius: 5px;
                margin-left: 20px;

                p {
                    color: #c19277;
                    margin: 15px 0px !important;
                }
                
                div {
                    height: 55px !important;
                    input {
                        width: 80px;
                        text-align: right;
                        padding: 5px;
                        margin-right: 5px;
                        padding-right: 10px;
                    }
                }

                #bank_loan_option_div {
                    display: inline-block;
                    position: absolute;
                    height: 0px !important;
                    margin-left: -30px;
                    margin-top : 4.2px;
                    color: #ababab;
                    // color: #ababab;
                }
            }

            #bank_loan_info_div {
                padding-top: 15px;

                div {
                    height: auto !important;
                }

                .bank_loan_grid_div {
                    display: grid;
                    grid-template-columns: 70% auto;
                }

                #bank_loan_order_div {
                    margin: 5px 0px;

                    select {
                        cursor: pointer;
                        padding: 5px;
                        font-size: 12px;
                        width: 80%;
                    }
                }
            }

            div {
                height: 95px;
            //     display: inline-block;
            }
        }

        #loan_confirm_div {
            h3 {
                font-family: $recipe_korea;
                color: #719fb0;
            }

            #loan_bill_div {
                border: solid 2px #ababab;
                margin: 0px 20px;
                height: 100px;

                h4 {
                    margin: 5px 0px;
                    color: #ababab;
                }
            }
        }

        #loan_repay_divs {
            h3 {
                font-family: $recipe_korea;
                margin-bottom: 10px !important;
            }

            #loan_repay_button {
                background-color: white;
                padding: 5px 15px;
                font-size: 12px;
                margin-top: -15px;
                cursor: pointer;
                font-weight: bold;
            }

            #loan_state_div {
                border: solid 1px #ababab;
                margin: 15px 20px;
                height: 70px;

                div {
                    padding: 3px 0px;
                }

                .loan_bill_grid_div {
                    grid-template-columns: 190px auto !important;
                    color: #ababab;
                }
            }
        }

        .loan_bill_grid_div {
            display: grid;
            grid-template-columns: 170px auto;
        }
    }
}